
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">-->
</head>

<body>
    <header>
        <h1>Travello</h1>
    </header>
    <main>
        <form id="login_form" class="form_class" action="login" method="post">
		{% csrf_token %}
            <div class="form_div"   >
                <labe>Login:</label>
                <input type="text" name="username" class="field_class"  placeholder="User Name" autofocus>
                <label>Password:</label>
                <input type="password" name="password"  id="pass" class="field_class"  placeholder="Password">
				<input type="submit" value="Login" class="submit_class">
<!--                <button class="submit_class" type="submit" form="login_form" onclick="return validarLogin()">Entrar</button>-->
            </div>
            <div class="info_div">
                <p>Not Yet Registered? <a href="register">Signup Here!</a></p>
            </div>
        </form>
		{% for msg in messages %}
		{{msg}}
		{% endfor %}
    </main>
    <footer>
<!--        <p>Desenvolvido por <a href="#">JM_Code&trade;</a></p>-->
    </footer>
</body>